[
 {ouroffice,
  [
   %% Add each mac address + user that you want to track to this table. User = {Username, Gender}
   {mac_to_user,
    [
     {<<"de:ad:be:ef:13:37">>, {<<"Example user 1">>, f}},
     {<<"de:ad:be:ef:13:38">>, {<<"Example user 2">>, m}}
    ]
   },

   %% Timing stuff; keep these like this, they're reasonable.
   {user_timeout, 120000},
   {poll_interval, 5000},

   %% The scanner modules.
   {scanners,
    [
     %% Scans the subnet for ARP lookups
     {ouroffice_scanner_nmap, [{subnet, "10.1.0.0/22"}]},
     %% Uses the unify API to get a list of IP addresses + clients, then does a ping on those
     {ouroffice_scanner_unify, [{host, "10.1.0.0"}, {user, "admin"}, {password, "admin"}]}
    ]
   },

   %% Copy these from your app page at twitter:
   %% https://dev.twitter.com/apps/12345/show
   {twitter_ckey, "xxx"},
   {twitter_csec, "uyy"},
   {twitter_token, "xxx"},
   {twitter_secret, "yyyy"}
  ]
 }
].
